<div class="col-md-12 order">
  <h2>所有订单</h2>
  <hr>
  <% if !@orders.blank? %>
  <%= render :partial => "admin/orders/order_item", :collection => @orders, :as => :order %>
  <div class="text-center">
    <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
  </div>
<% else %>
  <div class="well">
    <span class="text-center">订单记录为空。</span>
  </div>
  <% end %>

</div>
