<div class="col-md-12">
  <div><%= link_to("new", new_admin_product_path, class: "btn btn-primary pull-right") %></div>
  <h2 class="text-center">所有商品</h2>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>商品</th>
        <th>品相</th>
        <th>价格</th>
        <th>库存</th>
        <th>上架时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>

      <%= render :partial => 'admin/products/product_item', :collection => @products, :as => :product %>
    </tbody>
  </table>
</div>
