// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .pagination {
//   span, em, a {
//     float: left;
//     padding: 0 10px;
//     border: 1px solid #d3dce6;
//     border-right: 0;
//     background: #fff;
//     font-size: 13px;
//     min-width: 28px;
//     height: 28px;
//     line-height: 28px;
//     cursor: pointer;
//     box-sizing: border-box;
//     text-align: center;
//     &:hover {
//       text-decoration: none;
//     }
//     &.current {
//       font-style: normal;
//       border-color: #20a0ff;
//       background-color: #20a0ff;
//       color: #fff;
//       cursor: default;
//     }
//   }
// }
@media (min-width: 992px){
  .col-md-3 {
      width: 20%;
  }
}
.sidenav .well img{
  width: 100%;
}

.book-quote .btn{
  // border-radius: 20px;
margin-top: -25px;
text-align:center;
vertical-align: middle;
font-size: 25px;
color:#e8e8e8;
}
