// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 992px){
  .col-md-3 {
      width: 20%;
  }
}
.sidenav .well img{
  width: 100%;
}

.book-quote .btn{
  // border-radius: 20px;
margin-top: -25px;
text-align:center;
vertical-align: middle;
font-size: 25px;
color:#e8e8e8;
}
