<footer class="container-fluid" style="margin-top:100px;">
  <div class="inner">
    <p class="text-center">Design by &copy;
      <a class='text-success' href="http://www.learn-to-reborn.com">mayjuan</a>
    </p>
  </div>
</footer>
