<%= search_form_for @product_q do |f| %>
<div class="input-group">
  <%= f.search_field :title_cont, class:"form-control", placeholder: "书名" %>
  <span class="input-group-btn">
    <%= f.button :submit, class: "btn btn-default" do %>
    <i class="fa fa-search"></i><% end %>
  </span>
</div>
<% end %>
